@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('/fonts/sourceSansPro/SourceSansPro-Regular.ttf.woff2') format('woff2'), url('/fonts/sourceSansPro/SourceSansPro-Regular.ttf.woff') format('woff'), url('/fonts/sourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/fonts/sourceSansPro/SourceSansPro-Bold.ttf.woff2') format('woff2'), url('/fonts/sourceSansPro/SourceSansPro-Bold.ttf.woff') format('woff'), url('/fonts/sourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}





