.b-footer
	nav.b-footer__left
		a(href="#").b-footer__help.link Помощь и поддержка
		a(href="#").b-footer__link.link Вопросы и ответы
		a(href="#").b-footer__link.link Шаблоны документов
		a(href="#").b-footer__link.link Статьи
		a(href="#").b-footer__link.link Контакты
		a(href="#").b-footer__link.link Полезные номера
		a(href="#").b-footer__agreement.link Политика конфендициальности
	.b-footer__center
		
		img(src="img/logo.png" alt="Форс Мажор").b-footer__logo
		.b-footer__name Форс Мажоры
		a(href="https://uralmedias.ru").b-footer__ums
	.b-footer__right
		.b-phone.b-phone--right
			.b-phone__text Горячая линия
			a(href="tel:+78008432312").b-phone__number.link-gold +7 (800) 843-23-12
		.b-footer__icons.b-icons
			a(href="").b-icons__item
				+svg('vk')
			a(href="").b-icons__item
				+svg('fb')
			a(href="").b-icons__item
				+svg('ig')
			a(href="").b-icons__item
				+svg('twitter')
			a(href="").b-icons__item
				+svg('tube')
		.b-footer__address 455036 г. Магнитогорск,<br>ул. Суворова, дом 123/1<br>офис 406