extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-hat.b-hat__nobg
		.b-hat__article.bgi
		.b-hat__layer
		.b-hat__title.title-1 Семейное право sad
	.b-breadcrumbs.container 123
	.container
		.b-text.b-text--article
			p Любой человек может приобрести у нас сертификат сроком на 3 мес. 6 мес. 9 мес. 12 мес. на оказание юридических услуг, который можно подарить (передать) друзьям, родным, знакомым. Ознакомиться с тем, какие услуги включены  в данные сертификаты, можно ниже.
			img(src="img/test.jpg")
			p text baby
block script

	
