extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-hat
		.b-hat__bgi.bgi(style="background-image: url(img/category/semeynoe.png);")
		.b-hat__pic
			.b-hat__icon.bgi(style="background-image: url(img/category/semeynoe.png);")
		h1.b-hat__title.title-1 Семейное право sad

	.b-category.container
		.b-category__items
			.b-category__item.b-card.bgi
				.b-category__title.title-3 Расторжение брака
				.b-card__list
					p -Расторжение брака в органах записи актов гражданского состояния
					p -Расторжение брака в органах записи актов гражданского состояния
					p -Расторжение брака в органах записи актов гражданского состояния
					p -Расторжение брака в органах записи актов гражданского состояния
				a.b-card__more.link Читать далее
			.b-category__item.b-card.bgi
					.b-category__title.title-3 Расторжение брака
					.b-card__list
						p -Расторжение брака в органах записи актов гражданского состояния
						p -Расторжение брака в органах записи актов гражданского состояния
						p -Расторжение брака в органах записи актов гражданского состояния
						p -Расторжение брака в органах записи актов гражданского состояния
					a.b-card__more.link Читать далее
			.b-category__item.b-card.bgi
					.b-category__title.title-3 Расторжение брака
					.b-card__list
						p -Расторжение брака в органах записи актов гражданского состояния
						p -Расторжение брака в органах записи актов гражданского состояния
						p -Расторжение брака в органах записи актов гражданского состояния
						p -Расторжение брака в органах записи актов гражданского состояния
					a.b-card__more.link Читать далее
block script
	
