extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-title.title-1.container Полезные номера Магнитогорска
	.b-breadcrumbs.container 123
	.container
			.b-text.b-text--paste Любой человек может приобрести у нас сертификат сроком на 3 мес. 6 мес. 9 мес. 12 мес. на оказание юридических услуг, который можно подарить (передать) друзьям, родным, знакомым. Ознакомиться с тем, какие услуги включены  в данные сертификаты, можно ниже.
			.b-contacts__subtitle.title-3 Администрация города Магнитогорска 455044, г. Магнитогорск, пр. Ленина, 72
			.b-contacts__info 
				p <a href="tel:+73519490499" class="link-gold">+7 (3519) 490 - 499<a> - телефон доверия "горячая линия";
				p <a href="mailto:admin@magnitogorsk.ru" class="link-gold">admin@magnitogorsk.ru</a> - e-mail для обращений граждан.
			.b-contacts__subtitle.title-3 Телефоны доверия города Магнитогорск
			.b-contacts__info 
				p <a href="tel:+73519490499" class="link-gold">+7 (3519) 490 - 499<a> - телефон доверия "горячая линия";
				p <a href="mailto:admin@magnitogorsk.ru" class="link-gold">admin@magnitogorsk.ru</a> - e-mail для обращений граждан.
block script

	
