extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	h1.b-title.title-1.container Наши услуги
	.b-breadcrumbs.container 123
	.b-services.b-services--list
		.b-services__container
			.b-services__items.b-services__items--list

				.b-services__item.b-services__item--list
					.b-service
						.b-service__close.b-service__card
							.b-service__wrapper.b-shadow
								.b-service__icon(style="background-image: url(/img/services/administrativnoe.png);")
								.b-service__title.title-3 
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								.b-service__bottom
									.b-service__more.b-service__more--close.link Посмотреть детали
						.b-service__open.b-service__card
							.b-service__wrapper.b-service__wrapper--close.b-shadow
								.b-service__title.b-service__title--open.link.title-3 
									+svg('arrow')
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								.b-service__bottom
									a(href="#").b-service__more.link Читать подробнее

				.b-services__item.b-services__item--list
					.b-service
						.b-service__close.b-service__card
							.b-service__wrapper.b-shadow
								.b-service__icon(style="background-image: url(/img/services/administrativnoe.png);")
								.b-service__title.title-3 
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								.b-service__more.b-service__more--close.link Посмотреть детали
						.b-service__open.b-service__card
							.b-service__wrapper.b-service__wrapper--close.b-shadow
								.b-service__title.b-service__title--open.link.title-3 
									+svg('arrow')
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								a(href="#").b-service__more.link Читать подробнее
				.b-services__item.b-services__item--list
					.b-service
						.b-service__close.b-service__card
							.b-service__wrapper.b-shadow
								.b-service__icon(style="background-image: url(/img/services/administrativnoe.png);")
								.b-service__title.title-3 
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								.b-service__more.b-service__more--close.link Посмотреть детали
						.b-service__open.b-service__card
							.b-service__wrapper.b-service__wrapper--close.b-shadow
								.b-service__title.b-service__title--open.link.title-3 
									+svg('arrow')
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								a(href="#").b-service__more.link Читать подробнее
				.b-services__item.b-services__item--list
					.b-service
						.b-service__close.b-service__card
							.b-service__wrapper.b-shadow
								.b-service__icon(style="background-image: url(/img/services/administrativnoe.png);")
								.b-service__title.title-3 
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								.b-service__more.b-service__more--close.link Посмотреть детали
						.b-service__open.b-service__card
							.b-service__wrapper.b-service__wrapper--close.b-shadow
								.b-service__title.b-service__title--open.link.title-3 
									+svg('arrow')
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								a(href="#").b-service__more.link Читать подробнее

				.b-services__item.b-services__item--list
					.b-service
						.b-service__close.b-service__card
							.b-service__wrapper.b-shadow
								.b-service__icon(style="background-image: url(/img/services/administrativnoe.png);")
								.b-service__title.title-3 
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								.b-service__more.b-service__more--close.link Посмотреть детали
						.b-service__open.b-service__card
							.b-service__wrapper.b-service__wrapper--close.b-shadow
								.b-service__title.b-service__title--open.link.title-3 
									+svg('arrow')
									span Административное<br>право
								.b-service__text - Оспаривание решений и действий (бездействия) органов публично-правовых образований, должностных лиц<br>- Оспаривание нормативных правовых актов (полностью или в части)<br>- Споры о компенсации за...
								a(href="#").b-service__more.link Читать подробнее
				
				
block script
	
