.b-helper.container
	.b-helper__left
		.b-helper__how.title-4 Как мы помогаем
		.b-helper__title.title-2 Резкое торможение?<br>Поможем с решением
		.b-helper__text Лариса столкнулась с потенциальным страховым случаем - из-за инцидента, в котором не было ее вины.
	.b-helper__right
		img(src="img/tormoz.png").b-helper__pic
		.b-helper__quote 
			span.b-helper__commas.b-helper__commas--left
				+svg('commas')
			span.b-helper__said В своей многолетней юридической практике мы не используем сложившиеся шаблоны и стандарты
				span.b-helper__name Владимир
			span.b-helper__commas.b-helper__commas--right
				+svg('commas')
			
			