.b-members.container
    .b-members__title.title-2 Наша команда
    .b-members__container
        .b-members__items
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
            .b-members__item.b-member
                .b-member__pic.bgi(style="background-image: url(/img/venus.png);")
                .b-member__name.title-3 Гибадуллин Венер Мунирович
    .b-pagination#b-members
                
                   