.b-quality.b-shadow
	.b-quality__container.container
		.b-quality__left
			.b-quality__number(style="background-image: url(/img/quality/1.png);") Бесплатная<br>консультация
			.b-quality__number(style="background-image: url(/img/quality/2.png);") Рассрочка
			.b-quality__number(style="background-image: url(/img/quality/3.png);") Оплата<br>по результату
		.b-quality__right
			.b-quality__why.title-3 Почему стоит выбрать ФорсМ
			.b-quality__title.title-2 Мы - гарантия надежности и качества
			.b-quality__text Мы оказываем полноценные бесплатные консультации любому, кто нуждается в нашей помощи.<br>Причем, не однократно, а столько раз, сколько потребуется клиенту. Мы предоставляем 30% скидку от средней цены по региону на помощь в составлении искового заявления и оформление других документов.<br><br>Женщинам, которые пытаются взыскать алименты или расторгнуть брак, мы можем помочь бесплатно, если у них нет финансовой возможности оплатить услуги юриста.<br><br>Также, в некоторых случаях, мы оказываем бесплатную юридическую помощь пенсионерам, в зависимости от сложности и категории дела. Во всех других случаях для  пенсионеров мы делаем скидку до 50%.

