.b-start
	.b-start__container.container
		.b-start__agency.title-4 Юридическое агенство
		h1.b-start__title.title-1 Форс Мажоры<br>Решение дел любой сложности
		.b-start__form.b-write
			.b-write__title.title-2 Напишите нам
			form.b-write__form
				label.b-write__label 
					span.b-write__text Здравствуйте, меня зовут
					input.b-write__input
				label.b-write__label.b-write__label--textarea
					span.b-write__text Если кратко, моя проблема состоит в том, что
					textarea.b-write__textarea#b-textarea
				label.b-write__label.b-write__label--afterta
					span.b-write__text Свяжитесь со мной по номеру
					input.b-write__input
				label.b-write__label 
					span.b-write__text или электронной почте
					input.b-write__input
				.b-write__complete
					.b-form__agreement Нажимая на кнопку “Отправить”, вы принимаете 
						a.link условия пользовательского соглашения
					.b-form__button.b-button Отправить
		.b-start__bg.bgi
			