.b-steps.container
	.b-steps__items
		.b-steps__item.b-step
			.b-step__number 1
			.b-step__description
				.b-step__title.title-4 Вызов
				.b-step__text Когда Лариса столкнулась с поврежденной машиной и водителем без сознания, она не растерялась,а вытащила свой телефон. В ее телефонной книге были контакты надежной юридической фирмоы.
		.b-steps__item.b-step
			.b-step__number 2
			.b-step__description
				.b-step__title.title-4 Письмо
				.b-step__text Записав все детали, юрист составил письмо в страховую компанию, сообщив им, что в данной ситуации закон на стороне Ларисы. Все это было выполнено без дополнительных финансовых затрат.
		.b-steps__item.b-step
			.b-step__number 3
			.b-step__description
				.b-step__title.title-4 Результат
				.b-step__text Одна за другой все претензии другого водителя рухнули. Страховая компания отступила, повторно провела расследования и обнаружила, что он виноват. И Лариса забрала свою машину.