.b-we-are
	.b-we-are__container.container
		.b-we-are__wrapper
			.b-we-are__content
				.b-we-are__who.title-3 Кто мы
				.b-we-are__title.title-2 Юридические услуги
				.b-we-are__text Юридическое агентство "Форс Мажоры" оказывает весь спектр услуг в решении правовых вопросов любой сложности. Семейное и трудовое право, защита прав потребителя, сфера ЖКХ, банкротство компаний и многое другое - не сомневайтесь, наши специалисты будут отстаивать Ваши интересы с полной самоотдачей. В спорах с банками и страховыми компаниями мы берём оплату только после положительного решения суда - в этом также наше отличие от других юридических агентств.
		.b-we-are__wrapper.b-we-are__wrapper--form
			.b-we-are__content
				.b-form
					.b-form__title.title-2 Оставьте заявку на звонок прямо сейчас
					.b-form__write Есть проблема? Пишите. Перезвоним!
					form.b-form__form
						input(placeholder="Как к Вам обращаться?").b-form__input
						input(placeholder="Укажите Ваш телефон?").b-form__input
						input(placeholder="Укажите e-mail?").b-form__input
						.b-form__agreement Нажимая на кнопку “Отправить”, вы принимаете 
							a.link условия пользовательского соглашения
						.b-form__complete
							.b-form__captcha captcha
							.b-form__button.b-button Отправить